### Output pada Python

In [ ]:
print("Bandar Lampung")

Bandar Lampung

In [ ]:
wadah = "Bandar Lampung"
print("Kota", wadah)
#koma bisa jadi spasi otomatis

Kota Bandar Lampung

In [ ]:
print("Kota %s" %(wadah))

Kota Bandar Lampung

In [ ]:
tahun = 2023
print("Sekarang tahun %d" %(tahun))

Sekarang tahun 2023

In [ ]:
batre = 25
print("Baterai saya sekarang %f" %(batre))
#default: 6 digit di belakang koma

#untuk mengatur digit menjadi 2 angka di belakang koma
print ("Baterai saya sekarang %.2f" %(batre))

#jika %.0f, maka outputnya seperti integer

Baterai saya sekarang 25.000000
Baterai saya sekarang 25.00

In [ ]:
print("%x hexa" %(50))

32 hexa

In [ ]:
print("Kota {}".format(wadah))

Kota Bandar Lampung

In [ ]:
print("Kota {0} {1}".format(wadah, "keren"))

Kota Bandar Lampung keren

### Input pada Python

In [ ]:
skor = float(input("masukan skor anda: "))
#tipe data string --> skor = input("masukan skor anda: ")

masukan skor anda: 80

In [ ]:
print(skor)
#jika ingin menjumlahkan pastikan tipe datanya bukan string

80.0

In [ ]:
print(skor+20)
# jika tipe data masih string --> print(int(skor)+20)

100.0

In [ ]:
import sys

print('Jumlah arguments: ', len(sys.argv), 'arguments.')
print('Argument List', str(sys.argv))
print(sys.argv[1])

Jumlah arguments:  3 arguments.
Argument List ['/usr/local/lib/python3.10/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-64d7e48e-037f-4ca8-8034-797bbdb29c2b.json']
-f

In [ ]:
x = 6
print(type(x))

y = 'hello'
print(type(y))

<class 'int'>
<class 'str'>